<div class="preview-container">
  <div class="table-container">
    <table class="result-table">
      <thead>
        <tr>
          <th class="col-domaine">Domaine</th>
          <th class="col-appellation">Appellation</th>
          <th class="col-qualite">Qualité</th>
          <th class="col-cuvee">Cuvée</th>
          <th class="col-millesime">Millésime</th>
          <th class="col-unite">Unité</th>
          <th class="col-quantite">Quantité</th>
          <th class="col-prix-unitaire">Prix Unitaire</th>
          <th class="col-prix-total">Prix Total</th>
        </tr>
      </thead>
      <tbody *ngIf="ocrResults && ocrResults.rows">
        <tr *ngFor="let row of ocrResults.rows; let i = index">
          <td class="col-domaine"><input [(ngModel)]="row.Domaine" class="editable-field" /></td>
          <td class="col-appellation"><input [(ngModel)]="row.Appellation" class="editable-field" /></td>
          <td class="col-qualite"><input [(ngModel)]="row.Qualite" class="editable-field" /></td>
          <td class="col-cuvee"><input [(ngModel)]="row.Cuvee" class="editable-field" /></td>
          <td class="col-millesime"><input [(ngModel)]="row.Millesime" class="editable-field numeric-field" /></td>
          <td class="col-unite"><input [(ngModel)]="row.Unite" class="editable-field numeric-field" /></td>
          <td class="col-quantite"><input [(ngModel)]="row.Quantite" class="editable-field numeric-field" /></td>
          <td class="prix-cell col-prix-unitaire"><input [(ngModel)]="row.PrixUnitaire" class="editable-field numeric-field" /></td>
          <td class="prix-cell col-prix-total"><input [(ngModel)]="row.PrixTotal" class="editable-field numeric-field" /></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
